.game-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    cursor: default;
}

/* Estilo específico para el panning con la rueda */
.panning-active {
    cursor: move !important;
}

:host {
    display: block;
    width: 100%;
    height: 100%;
}
